.App {
    height: 100%;
    width: 100%;
}

.App>div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 350px auto;
}

@font-face {
    font-family: Matchmaker;
    src: url('./fonts/Matchmaker.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Medium.ttf');
}