.Main {
    background: linear-gradient(to right, #0D7BE4, #0e80b0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.torrents {
    width: 90%;
}

tr {
    border-radius: 10px;
}

td {
    border: black solid 1px;
    padding: 10px;
    margin: 3px;
    color: whitesmoke;
}

table {
    border-collapse: separate;
}

.type,
.date,
.size,
.downloadBTN,
.seeders,
.leechers {
    text-align: center;
}

.downloadBTN {
    background-color: transparent;
}

.downloadBTN>button {
    border: none;
}

.torrentLink {
    color: white;
    font-style: normal;
    text-decoration: none;
}

.torrentLink:visited {
    color: white;
    text-decoration: none;
}

.torrentLink:hover {
    color: #cbbfbf;
}

.seeders-newPeer,
.leechers-newPeer {
    text-align: center;
    animation-name: glow;
    animation-duration: 1s;
}

@keyframes glow {
    0% {
        text-shadow: transparent;
        font-weight: inherit;
    }
    20% {
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        font-weight: bold;
    }
    100% {
        text-shadow: transparent;
        font-weight: inherit;
    }
}