.posterTag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plot {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
}

.body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 5px;
    grid-gap: 20px;
}

.head>h1 {
    font-family: BEBAS;
    color: white;
    font-size: 30px;
    text-align: center;
}

.plot-text {
    font-family: Roboto;
    color: white;
    font-size: 20px;
    padding-right: 20px;
}

.poster {
    padding-bottom: 10px;
}

.download {
    width: 300px;
    display: block;
    padding: 20px;
    text-align: center;
    background-color: #1E3146;
    color: white;
    border: none;
    font-weight: bold;
}

.peers {
    display: flex;
    color: white;
    justify-content: center;
    width: 300px;
    background-color: #2e4f74;
}

.peers>ul {
    padding-left: 0;
    padding-right: 5px;
}

.peers>ul>li {
    list-style: none;
    padding-bottom: 10px;
}