.posterTag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plot {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
}

.body {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: auto 5px;
    grid-gap: 20px;
}

.year {
    display: inline;
    font-size: 30px;
    padding-left: 5px;
}

.head>h1 {
    font-family: BEBAS;
    color: white;
    font-size: 60px;
    text-align: center;
}

iframe {
    border: none;
    width: 500px;
}

.rating {
    display: inline;
    font-size: 15px;
    padding-left: 5px;
    color: darkkhaki;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.plot-text {
    font-family: Roboto;
    color: white;
    font-size: 20px;
}

.poster {
    height: 290px;
    padding-bottom: 10px;
}